Use rel="type" instead of rel="describedBy" for pointing to the schema of a feature ...

So far we have been using rel="describedBy" to point to the schema of a feature but I think this is not correct.  According to IANA, "describedBy" refers to a resource providing information about the link's context.  While this could loosely be interpreted as the schema providing information about the context resource (i.e. the feature), I think they are really refereing to metadata about the resource.
I think the more approriate rel is "type".  According to RFC 6903 Section 6, the "type" link relation can be used to indicate that the context resource is an instance of the resource identified by the target URI.  I think this more accurately describes the relationship between a feature or collection and its schema.

I see your point, but I also do see `type` as a good match:

```
The "type" link relation references the payload's abstract semantic type, whereas the Content-Type header identifies the specific serialization format of the payload.
```

An XML schema is more syntactic than semantic and the XML elements are not really abstract semantic types.

Anyhow, maybe this will be addressed in the next version of the OpenAPI spec, see the discussion in 
#56.

The resolution of this issue should depend on #129 ...

We close this for now and wait for the resolution of #129.